<!--BEGIN:user/change-password-->
<h1>Promjena lozinke</h1>

<p>
Ovdje možete promijeniti svoju korisničku lozinku. 
</p>

{{form..Open}}
{{form..password}}
{{form..Buttons}}
{{form..Close}}
<!--END:user/change-password-->