<?php Doc::title('Privacy policy'); ?>
<article id="privacy-policy">

<h1>Privacy policy</h1>

<p>
  Thank you for accessing the myhandbags.eu website, further refered as "Site". We respect your privacy and want to protect your personal information. If you want to learn more, please read this Privacy Policy.
</p>

<p>
  This Privacy Policy explains how we collect, use and (under certain conditions) disclose your personal information. This Privacy Policy also explains the steps we have taken to secure your personal information. Finally, this Privacy Policy explains your options regarding the collection, use and disclosure of your personal information. By visiting the Site directly or through another site, you accept the practices described in this Policy.
</p>

<p>
  Data protection is a matter of trust and your privacy is important to us. We shall therefore only use your name and other information which relates to you in the manner set out in this Privacy Policy. We will only collect information where it is necessary for us to do so and we will only collect information if it is relevant to our dealings with you.
</p>

<p>
  We will only keep your information for as long as we are either required to by law or as is relevant for the purposes for which it was collected. You can visit the Site and browse without having to provide personal details. During your visit to the Site you remain anonymous and at no time can we identify you unless you have an account on the Site and log on with your user name and password.
</p>

<p>

</p>


<h3>1. Data we collect</h3>

<p>
  We may collect personal information including, but not limited to, your title, name, gender, date of birth, email address or IP address.
</p>

<p>
  We will use personal information to give you better service and only provide you with the services and information offered through our website and which you request or gave us consent.
</p>

<p>
  We will not provide or sell your personal information to anyone else.
</p>

<p>
  All personal information will be used only to better our services and your experience while you are on our Site.
</p>

<p>
  For example: We might use your title and name to greet you, gender, date of birth and email address to send you a birthday card. IP address can be used to run and maintain technical side of this Site.
</p>

<h3>2. Cookies</h3>

<p>
  The acceptance of cookies is not a requirement for visiting the Site. Cookies are tiny text files which identify your computer to our server as a unique user when you visit certain pages on the Site and they are stored by your Internet browser on your computer's hard drive. Cookies can be used to recognize your Internet Protocol address, saving you time while you are on, or want to enter, the Site. Your browser can be set to not accept cookies, but this would restrict your use of the Site.
</p>

<p>
  Please accept our assurance that our use of cookies does not contain any personal or private details and are free from viruses. If you want to find out more information about cookies, go to http://www.allaboutcookies.org or to find out about removing them from your browser, go to http://www.allaboutcookies.org/manage-cookies/index.html.
</p>

<p>
  This website uses Google Analytics, a web analytics service provided by Google, Inc. ("Google"). Google Analytics uses cookies, which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.
</p>


<h3>3. Security</h3>

<p>
  We have in place appropriate technical and security measures to prevent unauthorized or unlawful access to or accidental loss of or destruction or damage to your information. When we collect data through the Site, we collect your personal details on a secure server. We maintain physical, electronic and procedural safeguards in connection with the collection, storage and disclosure of your information. You are responsible for protecting against unauthorized access to your password and to your computer.
</p>


<h3>4. Your rights</h3>

<p>If you are concerned about your data you have the right to request access to the personal data which we may hold or process about you. You have the right to require us to correct any inaccuracies in your data free of charge. At any stage you also have the right to ask us to stop using your personal data for direct marketing purposes.</p>

<h3>5. Anti-Spam Policy</h3>

<p>We are against unsolicited commercial emails or any kind of spam. Therefore, if you notice or have reason to believe that you have received an unsolicited email from us, please let us know by sending us an email to support@myhandbags.eu, so that we can investigate the cause.</p>


<em>Last updated: 18.04.2018.</em>

</article>
