<h1>Naslov standard</h1>

{{form.bla..width('500px')}}

{{form.nesto}}
<br>
{{form.tekst}}

</form>

<?php //pr($form); ?>





<?php
$arr = ['key'=>"VRiejDNoST"];
$arr = ["VRiejDNoST"];
$obj = new stdClass();
$obj->bla = "dfgsdfsdfsf";
?>

{{arr.0}}

{{obj->bla}}

<?php $years = range(2016,2020); ?>

@loop years as nesto
	{{nesto}}<br>
@end