<div class="homepage row">

  <div class="col-md-12">
    <div>Total number of tenders in database: <?php echo NNTender::count(); ?></div>
    <div>Money summary: <?php echo Num::price(NNTender::sum('proc_vrijednost')); ?> kn</div>

  </div>

</div>
