<header>
  <!-- Static navbar -->
  <nav class="navbar navbar-static-top navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <div class="col-xs-2">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="visible-xs col-xs-10">
          @inc "search/top"
        </div>
        <a class="navbar-brand hidden-xs" href="/"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;NN tenders analysis</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 pull-right hidden-xs">
          @inc "search/top"
        </div>
        <ul class="nav navbar-nav">
          <li class="visible-xs"><a href="/">NN tenders analysis</a></li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

</header>
