body {
	font-family: 'Poppins', sans-serif;
  padding-top: 70px;
  font-size: 12px;
}

/* GLOBALS */
a {
  color: #ff00c3;
  transition-duration: 0.25s;

  &:visited {
    color: #ff00c3;
  }
  &:hover {
    color: lighten(#ff00c3, 10%);
  }
  &:active {
    color: lighten(#ff00c3, 10%);
  }
}

/* BUTTONS */
.btn {
  border-radius: 0;
  background: none;
  border: solid 2px #444;
  padding: 5px 12px;
  color: #444  !important;
  &:hover {
    color: #fff !important;
  }
}
.btn-default {
  border: solid 2px #444;
}
.btn-buy {
  width: 100%;
  color: #444;
  border-color: #f80;
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
  &:link {
    color: #444;
    border-color: #f80;
    background: #fff;
  }
  &:hover {
    color: #fff !important;
    border-color: darken(#f80,10%) !important;
    background: #f80;
  }
  &:visited {
    color: inherit;
    border-color: #f80;
    background: none;
  }
  &:active {
    color: #fff;
    border-color: darken(#f80,10%);
    background: #f80;
  }
}
.btn-info {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-primary {
  color: #444;
  border-color: #337ab7;
  background: none;
  &:link {
    color: #444;
    border-color: #f80;
    background: #337ab7;
  }
  &:hover {
    color: #fff !important;
    border-color: darken(#337ab7,10%) !important;
    background: #337ab7;
  }
  &:visited {
    color: inherit;
    border-color: #337ab7;
    background: none;
  }
  &:active {
    color: #fff;
    border-color: darken(#337ab7,10%);
    background: #337ab7;
  }
}

#quickedit {
  .btn {
    color:#fff !important;
  }
}



/* FORMS */
.form-control {
  border: solid 2px;
  border-radius: 0;

  &:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(226, 88, 208, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(226, 88, 208, 0.6);
    border: solid 2px #ff00c3;
  }
}

.search-top {
  input {

  }
  .btn-search {
    color: #444;
    border: solid 2px #444;
    border-left: none;
    background: none;
    &:hover {
      color: #fff;
      border-color: darken(#ff00c3,10%);
      background: #ff00c3;
    }
  }
}










header {

  .navbar {
    border-bottom: solid 1px #eee;
    background: rgba(255,255,255,0.95);
/*
    -moz-box-shadow: 0px 5px 5px rgba(200,200,200,0.25);
    -webkit-box-shadow: 0px 5px 5px rgba(200,200,200,0.25);
    box-shadow-bottom: 6px rgba(200,200,200,0.25);
*/
    a {
      color: #000;
      font-size: 15px;
      font-weight: bold;
    }
  }

  .navbar-toggle {
    padding: 8px;
    border-radius: 0;
    background: #fff;
    border: solid 2px #000;
    color: #000;
    float:none;


    margin-top: 19px;
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 0;

    span {
      background: #000;
    }
    &:hover {
      border: solid 2px darken(#ff00c3,10%);
      background: #ff00c3;
      span {
        background: #fff;
      }
    }
  }

  .dropdown-menu {
    a {
      font-weight: normal;
      img {
        padding-right: 10px;
      }
    }
  }
}

#content {

}

footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
	color: #eee;
	background-color: #444;
	font-size: 12px;
  a {
    color: #eee !important;
  }
	li {
		list-style: none;
	}
}

/* HOMEPAGE */
#homepage-search {
	margin-bottom: 40px;
}



#homepage-info {
	margin: 20px auto;
	font-size:14px;
	text-align:center;
}
@media(max-width:768px){
	#homepage-info {
		margin-top:30px;
		font-size:13px;
		text-align:center;
	}
}
@media(max-width:480px){
	#homepage-info {
		margin-top:20px;
		font-size:12px;
		text-align:center;
	}
}


#homepage-categories {
	margin: 40px auto;
	ul {
		display: block;
		margin: auto;
		padding: 0;
		list-style: none;
		width: 90%;
		li {
			display: block;
			width: 25%;
			float:left;
			a {
				font-size: 14px;
				color: inherit;
			}
		}
	}
}
@media(max-width:768px){
	#homepage-categories {
		ul {
			li {
					width: 33%;
			}
		}
	}
}
@media(max-width:480px){
	#homepage-categories {
		ul {
			li {
			width: 50%;
			}
		}
	}
}




/* PAGES */
#privacy-policy {
	h1 {
		margin-bottom: 40px;
	}
	h3 {
		margin-top: 40px;
	}
	p {
		font-size: 13px;
		line-height: 23px;
		padding-left: 20px;
	}
	em {
		padding: 20px;
		float: right;
	}
}

#about {
	h1 {
		margin-bottom: 40px;
	}
	p {
		color: #444;
		text-align: justify;
		font-size: 16px;
		line-height: 26px;
		padding-left: 20px;
	}
}

/* SEARCH */
.top-search .input-group-addon{
    background: white !important;
}
.top-search .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.top-search button{
    border:0;
    background:transparent;
}


/* PAGINATION */
.pagination {
  border: none;

  margin-right: -50px;
  margin-left: -20px;

  li {
    border: none;
    padding-left: 2px;
    padding-right: 2px;

    a {
      border: none;
      border-bottom: solid 2px #fff;
      color: #000;
      background: none;
      font-size: 13px;
      margin-right: 2px;
      min-width: 28px;
      &:hover {
        border: none;
        border-bottom: solid 2px #ff00c3;
        color: #000;
        background: none;
      }
    }
    &.active {
      a, a.link, a:hover {
        color: #000;
        background: none;
        border-bottom: solid 2px #ff00c3;
      }
    }
  }
  .pagination-prev a,.pagination-next a {

  }
}

/* PRODUCTS */
.product-box {
	min-height: 200px;
}


/* PRODUCTS LIST BOX */
.prod-list-box {
	height:240px;
  border: solid 1px transparent;
	&:hover {
		border: solid 1px #eee;
	}

	.prod-thumb {
		text-align: center;
		img {
    		margin: 0 auto;
		}
		margin-bottom: 5px;
	}
	.prod-title {
		font-size: 13px;
		text-align: center;
		a {
			width:80%;
			color:#000;
			padding-left:10px;
			padding-right:10px;
		}
	}
	.prod-price {
		text-align: center;
		color:#444;
		font-size:13px;

    .old {
      color: #777;
      font-size: 9px;
      text-decoration: line-through;
    }
	}

  /*
  &:hover {
    border: solid 2px lighten(#ff00c3, 40%);
  }
  */
}

.old-price {
	text-decoration: line-through;
}


/* TITLES */
h1 {
  font-size: 36px;
  clear: both;
}
@media(max-width:768px){
  h1 {
    font-size: 28px;
  }
}
@media(max-width:480px){
  h1 {
    font-size: 21px;
  }
}


h3 {
  font-size: 24px;
  clear: both;
}
@media(max-width:768px){
  h3 {
    font-size: 21px;
  }
}
@media(max-width:480px){
  h3 {
    font-size: 18px;
  }
}




/* PRODUCT VIEW / SINGLE */
section.product.view {

  padding-bottom: 30px;

  .brand {
    font-size: 16px;
  }

  .price-info {
    .regular {
      font-size: 24px;
    }
    .old {
      color: #777;
      font-size: 12px;
      text-decoration: line-through;
    }
    .action {
      font-size: 24px;
    }
    .save {
      //
    }
  }
}

.color-line-outer {
  cursor:pointer;
  float:left;
  height: 40px;
}
.color-lines {
  min-height: 40px;
}
.color-line {
  -webkit-transition: height 0.5s; /* Safari */
  transition: height 0.5s;
  height: 10px;
}
.selected .color-line {
  height: 40px;
  -webkit-transition: height 0.5s; /* Safari */
  transition: height 0.5s;
}


h3.subtitle {
  width: 100%;
  color: #999;
  border-bottom: solid 2px #eee;
  -webkit-transition: border 0.5s; /* Safari */
  transition: border 0.5s;
}


/* PRODUCT SLIDER */
#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}

#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }

#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}




/* QUICK EDIT ADMIN PANEL */
#quickedit {
	display: block;
	width: 400px;
	height: auto;

	position: fixed;
	top: 0;
	right: 0;
	z-index:10000;

	padding: 5px 10px;
	color: #fff;
	background-color: #000;

	ul {
		padding: 0;
		li {
			list-style: none;
			padding: 1px 5px;
			color: #e6ecec;
		}
	}

	a.quickedit-title {
		cursor: pointer;
		color: #fff !important;
		font-weight: bold;
	}

	&.closed {
		width: 30px;
		height: 30px;
		overflow:hidden;
	}
}



/*
border: 2px solid transparent
*/


/* Custom slick arrows */

@media screen and (max-width: 992px) {
  .slick-prev {
    left: -15px;
  }
  .slick-next {
    right: -15px;
  }
}

.slick-arrow {
  color:#f00;
  background: #f00;
}

.slick-prev, .slick-next {
  width: 40px;
  height: 60%;
  background: #444;
  opacity: 0.25;
  z-index: 100;

  &:hover, &:focus {
    color: #ff00c3;
    width: 40px;
    height: 60%;
    background: #444;
    opacity: 0.5;
  }
}
