<!--BEGIN:footer-->
<div class="ui inverted vertical footer segment">
	<div class="ui container">
		<div class="ui stackable inverted divided equal height stackable grid">
			<div class="three wide column">
				<h4 class="ui inverted header">About</h4>
				<div class="ui inverted link list">
					<a href="/contact" class="item">Contact Us</a>
					<a href="/terms" class="item">Terms & Conditions</a>
					<a href="/privacy" class="item">Privacy Policy</a>
				</div>
			</div>
			<div class="three wide column">
				<h4 class="ui inverted header">Services</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">Banana Pre-Order</a>
					<a href="#" class="item">DNA FAQ</a>
					<a href="#" class="item">How To Access</a>
					<a href="#" class="item">Favorite X-Men</a>
				</div>
			</div>
		    <div class="seven wide column">
		      <h4 class="ui inverted header">Footer Header</h4>
		      <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
		      &copy; <?php echo date('Y');?> Tihi Studio, All rights reserved.
		    </div>
		</div>
	</div>
</div>
<!--END:footer-->