App views/
<h1>{{article.title}}</h1>
@loop articles as item
	@if item.id = 2
		second is
	@end
	<a href="{{item.link}}">{{item.title}}</a><br>
@end

@loop arr as a
	{{a}},
@end

@do 5 times
	bla
@end
