<div class="col-md-3">
    <a href="/test/event/{{item.id}}"><img src="{{item.cover_thumb}}"></a>
    <a href="/test/event/{{item.id}}"><h4>{{item.name}}</h4></a>
    <p><b>{{item.start_time}}</b><br>
    {{item.address}}, {{item.city}} in {{item.country}}
    </p>
</div>