<!--BEGIN:footer-->
<footer>
      <!--
      <section class="twitter_feed_wrapper">
           <div class="container">
                <div class="row wow animated fadeInUp">
                     <div class="twitter_feed_icon col-sm-1 col-md-1"><a href="#twitter"><i class="fa fa-twitter"></i></a></div>
                     <div class="col-sm-11 col-md-11">
                          <blockquote>
                               <p>This Clean, Flexible, Multipurpose Bootstrap 3.1.1 HTML5 Template will soon become a Wordpress theme with great support!  <a href="#">http://unhub.com/LIot</a></p>
                               — LeonArt (@leonartgr) <a href="https://twitter.com/plethorathemes/">April 4, 2014</a></blockquote>
                     </div>
                </div>
           </div>
      </section>
      -->
      <section id="footer_teasers_wrapper">
           <div class="container">
                <div class="row">
                     <div class="footer_teaser col-sm-4 col-md-4">
                          <h3>About us</h3>
                          <p>Fugiat dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters.</p>
                          <p><i class="fa fa-map-marker"></i> 3 Athens street</p>
                          <p><i class="fa fa-phone"></i> (+30) 265-9987</p>
                          <p><i class="fa fa-print"></i> (+30) 9854-7855</p>
                          <p><i class="fa fa-envelope"></i> hello@restarttheme.com</p>
                     </div>
                     <div class="footer_teaser col-sm-4 col-md-4">
                          <h3>Latest News</h3>
                          <ul class="media-list">
                               <li class="media"> <a href="#" class="media-photo" style="background-image:url(/theme/images/portfolio/t5.jpg)"></a> <a href="#" class="media-date">19<span>FEB</span></a>
                                    <h5 class="media-heading"><a href="#">Media heading, this is a title of a news...</a></h5>
                                    <p>Fugiat dapibus, tellus ac cursus commodo, ut fermentum...</p>
                               </li>
                               <li class="media"> <a href="#" class="media-photo" style="background-image:url(/theme/images/portfolio/t4.jpg)"></a> <a href="#" class="media-date">18<span>FEB</span></a>
                                    <h5 class="media-heading"><a href="#">Media heading, of a news item.</a></h5>
                                    <p>Fugiat dapibus, tellus ac cursus commodo, condime ntum nibh, ut fermentum...</p>
                               </li>
                          </ul>
                     </div>
                     <div class="footer_teaser col-sm-4 col-md-4" id="latest-flickr-images">
                          <h3>FlickrFeed</h3>
                          <ul></ul> <p>All photos © by <a href="http://www.dimitragiannouka.com" target="_blank">Dimitra Giannouka</a>.</p>
                     </div>
                </div>
           </div>
      </section>
      <section class="copyright">
           <div class="container">
                <div class="row">
                     <div class="text-center col-sm-12 col-md-12">
                        ©<?php echo date('Y');?> <a href="http://www.tihistudio.hr">Tihi Studio</a>. All rights reserved.
                        |
                        <a href="/terms">Terms &amp; Conditions</a>
                        |
                        <a href="/privacy">Privacy Policy</a>
                    </div>
                </div>
           </div>
      </section>
 </footer>
<!--END:footer-->