<section id="slider_wrapper" class="slider_wrapper ">
     <div id="main_flexslider" class="flexslider">
          <ul class="slides">
               <li class="item" style="background-image: url(/theme/images/1.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>a <strong>flexible</strong> theme<br>
                                   you can <strong>trust</strong> &amp; <strong>build upon</strong>!</h1>
                              <p class="lead skincolored">Re<strong>start</strong> is based on <strong>good typography</strong> and <strong>large photography</strong>, serving as a foundation for your creative projects. Feel free to browse its templates and discover its features.</p>
                              <span class="round_badge"><strong><i class="fa fa-twitter"></i></strong><strong>V3</strong></span> </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(/theme/images/2.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>makes <strong>real use</strong><br>
                                   of the power of <strong>{LESS}</strong> syntax!</h1>
                              <p class="lead skincolored">Restart was built with heavy use of {less} technology, making the life of the web developer easier!</p>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(/theme/images/3.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="skincolored"><strong>subtle</strong> animations<br>
                                   &amp; a <strong>fresh</strong> collapsing <strong>header effect</strong></h1>
                              <p class="lead">if you are looking for <a href="/services"><strong>a bold approach</strong></a> you will love the header effect,<br>
                                   but even if you like <a href="/about"><strong>a more conservative feel</strong></a>, you can always try the boxed alternative!</p>
                         </div>
                    </div>
               </li>
          </ul>
     </div>
</section>

<!--
<section class="features_teasers_wrapper">
  <div class="container">
       <div class="row">
            <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="/theme/images/responsive.png">
                 <h3>Clean, Responsive Design</h3>
                 <p>A multipurpose but mainly<strong> business oriented</strong> design, built to serve as a foundation for your web projects. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.</p>
            </div>
            <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="/theme/images/git.png">
                 <h3>Based on Twitter Bootstrap</h3>
                 <p>The front-end development framework with a <strong>steep learning curve</strong>. It changes the way you develop sites. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.</p>
            </div>
            <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="/theme/images/less.png">
                 <h3>Makes real use of {LESS}</h3>
                 <p><strong>Restart</strong> comes with a style.less file that tries to use all the power of <strong>{less} and bootstrap combined</strong>. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.</p>
            </div>
       </div>
  </div>
</section>

<section class="portfolio_teasers_wrapper">
  <div class="container">
       <h2 class="section_header fancy centered">Recent Work or Projects from Portfolio<small>we take pride in our work</small></h2>
       <div class="portfolio_strict row">
            <div class="col-sm-4 col-md-4">
                 <div class="portfolio_item wow animated flipInX"> <a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                      <figure style="background-image:url(/theme/images/portfolio/p4.jpg)">
                           <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                <path d="M 180,0 0,0 0,0 180,0 z"/>
                           </svg>
                           <figcaption>
                                <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                                <div class="view_button">View</div>
                           </figcaption>
                      </figure>
                      </a>
                      <div class="portfolio_description">
                           <h3><a href="portfolio_item.html">The {re}start Project</a></h3>
                           <p>Design</p>
                      </div>
                 </div>
            </div>
            <div class="col-sm-4 col-md-4">
                 <div class="portfolio_item wow animated flipInX"> <a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                      <figure style="background-image:url(/theme/images/portfolio/a5.jpg)">
                           <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                <path d="M 180,0 0,0 0,0 180,0 z"/>
                           </svg>
                           <figcaption>
                                <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                                <div class="view_button">View</div>
                           </figcaption>
                      </figure>
                      </a>
                      <div class="portfolio_description">
                           <h3><a href="portfolio_item.html">Colorfull iOS Apps</a></h3>
                           <p>Development</p>
                      </div>
                 </div>
            </div>
            <div class="col-sm-4 col-md-4">
                 <div class="portfolio_item wow animated flipInX"> <a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                      <figure style="background-image:url(/theme/images/portfolio/p1.jpg)">
                           <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                <path d="M 180,0 0,0 0,0 180,0 z"/>
                           </svg>
                           <figcaption>
                                <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                                <div class="view_button">View</div>
                           </figcaption>
                      </figure>
                      </a>
                      <div class="portfolio_description">
                           <h3><a href="portfolio_item.html">POETIC Magazine</a></h3>
                           <p>Illustrations</p>
                      </div>
                 </div>
            </div>
       </div>
  </div>     
</section>
-->


<section class="clients_section wow animated fadeInUp">
  <div class="container">
       <h2 class="section_header elegant centered">Our clients<small>all of them are satisfied</small></h2>
       <div class="clients_list"> <a href="#"><img src="/theme/images/clients/wordpress.jpg" alt="client"></a> <a href="#"><img src="/theme/images/clients/jquery.jpg" alt="client"></a> <a href="#"><img src="/theme/images/clients/microlancer.jpg" alt="client"></a> <a href="#"><img src="/theme/images/clients/bbpress.jpg" alt="client"></a> <a href="#"><img src="/theme/images/clients/wpml.jpg" alt="client"></a> </div>
  </div>     
</section>