<!--BEGIN:home-slider-->
<section id="slider_wrapper" class="slider_wrapper full_page_photo">
     <div id="main_flexslider" class="flexslider">
          <ul class="slides">
               <li class="item" style="background-image: url(/theme/images/1.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>a <strong>flexible</strong> theme<br>
                                   you can <strong>trust</strong> &amp; <strong>build upon</strong>!</h1>
                              <p class="lead skincolored">Re<strong>start</strong> is based on <strong>good typography</strong> and <strong>large photography</strong>, serving as a foundation for your creative projects. Feel free to browse its templates and discover its features.</p>
                              <span class="round_badge"><strong><i class="fa fa-twitter"></i></strong><strong>V3</strong></span> </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(/theme/images/2.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>makes <strong>real use</strong><br>
                                   of the power of <strong>{LESS}</strong> syntax!</h1>
                              <p class="lead skincolored">Restart was built with heavy use of {less} technology, making the life of the web developer easier!</p>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(/theme/images/3.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="skincolored"><strong>subtle</strong> animations<br>
                                   &amp; a <strong>fresh</strong> collapsing <strong>header effect</strong></h1>
                              <p class="lead">if you are looking for <a href="services.html"><strong>a bold approach</strong></a> you will love the header effect,<br>
                                   but even if you like <a href="page_alternative.html"><strong>a more conservative feel</strong></a>, you can always try the boxed alternative!</p>
                         </div>
                    </div>
               </li>
          </ul>
     </div>
</section>
<!--END:home-slider-->