<div class="container">
	<h1>Privacy Policy</h1>

       
            <p><em>Version 1.1, last updated: 08-20-2015</em></p>
       
         <h1>Our Commitment To Privacy</h1>
       
            <p>NetAPIs GmbH ("NetAPIs") values you as a customer and respects your privacy. Our goal is to make your visits to this website informative, convenient and secure. We will only collect, store and use your personal information for defined purposes. We use your information to support and enhance our relationship with you, for example, to process your purchase, provide service and support, to communicate with you about our products, services and promotions. We are committed to managing this information responsibly and ensuring that you are in control of your personal information and the communications you receive from us.</p>

<p>We do not sell your personal information. At any time you may contact NetAPIs with any privacy questions or concerns you may have. You may also ask at any time to see the personal data you have given us and request correction or deletion.</p>
       
            <p>Company information:
            
            </p><p>NetAPIs<br>Address, Street, NR<br>10000 Zagreb<br>Croatia</p>
              
         <h1>The Information We Collect</h1>
         
            <p>We collect information from you that you provide to us via this site when you register or update an account, contact us by email, or request other services that require information. This information may include your company name, company information, your name, address, email address, telephone number and personal interests. We also keep a record of your product interests and purchases, and automatically receive and record information on our server logs from your browser (including your IP address, cookie information, and the page you requested).</p>

         <h1>Information Processed by Third Parties</h1>
       
            <p>All Credit Card payments are being processed by PayPal , located at Arkońska Business Park, ul. Arkońska 6/A3, 80-387 Gdańsk, Poland. Please note that transaction data, as well as personal data, may be securely transferred to PayLane Sp. z o.o. for the sole purpose of processing payments.</p>
                
         <h1>The Way We Use Information</h1>
         
            <p>NetAPIs uses customer information for three general purposes: to customize the advertising and content you see on our sites; to fulfill your orders &amp; requests for certain products and services; and to contact you about new products and services, special events and promotions. We use IP addresses to analyze trends, administer the site, track user movement and gather broad demographic information for aggregate use. NetAPIs will not link IP addresses to personally identifiable information.</p>

<p>Your should be aware that we may disclose specific information about you if necessary to do so by law or based on our good faith belief that it is necessary to conform or comply with the law or is necessary to protect the users of our web site, the site or the public.</p>

<p>Finally, we never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above and will never sell or distribute any information to outside parties.</p>

         <h1>Does our Service Use Cookies?</h1>
         
<p>Yes. "Cookies" are pieces of information (actually, alphanumeric identifiers) generated by web servers and stored in your computer for future access. Cookies cannot view or retrieve data from other cookies, nor can they capture files or data stored on your computer.</p> 

<p>We, our partners, and our suppliers use cookie technology to enhance your online experience by making it easier for you to navigate through our Services or make a feature work better. We also use cookies to track affiliates that refer you to our Services. These particular cookies are saved on your computer and collect no data from you.</p> 

<p>Generally, cookies can be disabled. The "help" portion of the toolbar on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. If you would like to use the Services, you may do so without accepting cookies. However, you should understand that if you choose not to accept cookies, some areas of the Services may not function properly or optimally and you will not be permitted to access certain secured areas of the Services.</p>

         <h1>Where We Store Your Personal Data</h1>
         
            <p>The data we collect from you may be transferred to, and stored at, a destination outside the European Economic Area ("EEA"). It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. Such staff may be engaged in, among other things, the fulfilment of your order, the processing of your payment details and the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy.</p>
            
            <p>Where we have given you (or where you have chosen) a password which enables you to access certain parts of this website, you are responsible for keeping this password confidential.</p>
            
            <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to this website; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access to your data.</p>

         <h1>How You Can Access, Change or Delete Your Information</h1>
         
            <p>You may, at any time, access and verify, correct, update or remove your personal information and preferences online and/or by contacting us by email at support@NetAPIs.com. In addition, if you prefer not to receive information from us, either through e-mail, postal mail or phone, please let us know by sending us an email. Please note that it may take up to two weeks for your request to become effective. Thereafter, when you make purchases, we may still send you an e-mail confirmation and may need to contact you by phone, postal mail or e-mail if we have questions regarding your order.</p>
                                                                
         <h1>General Browsing</h1>
         
            <p>NetAPIs gathers navigational information about where visitors go on our web site and information about the technical efficiencies of our web site (such as time to connect to our web site, time to download pages). This information allows us to see which areas of our site are most visited and helps us to better design our website and to share with advertisers.</p>

         <h1 id="data_security">Data Security</h1>
         
            <h4>Personal Data</h4><br>
         
            <p>NetAPIs takes the security of your private information very seriously. Your mailboxlayer account information is password-protected for your privacy and security. NetAPIs will never ask you for your password in an unsolicited phone call or e-mail. You are responsible for maintaining the secrecy of your password and account information.</p> 
            
            <p>In addition, when you submit sensitive information via this web site, such as password or credit card information, that information is encrypted and protected by Secure Sockets Layer (SSL) encryption technology.</p>

<p>If at any time you believe the security of your password or account information has been compromised, please notify us immediately by email or change your account information online. Should you discover an unauthorized use of your credit or debit card, you should notify your card provider immediately in accordance with the terms of your agreement with that company.</p>
            
                        
            <h4>Data Processed By the API</h4><br>
            
			<p>NetAPIs does not process or store email addresses for any purpose other than validation, and does not share any client data with any third party at any time.</p> 
            
            <p>NetAPIs is committed to keeping all data supplied by clients for the purpose of validation as confidential, and to not disclosing data to anyone within the organization without a need to receive it for the specific purpose for which it is being disclosed to NetAPIs. In no event shall this data be used to contact any names, email addresses, postal addresses, or phone numbers provided to us.</p>

			
         <h1>Changes To This Privacy Policy</h1>
         
            <p>NetAPIs reserves the right to change, modify or amend this policy at any time by posting changes on this site. Your continued use of the resources on this site after changes are posted constitutes your acceptance of this policy as modified by the posted changes. NetAPIs encourages you to periodically review this policy to be informed of how we collect, use and protect your information. </p>

         <div class="divide_line legal"></div>

         <h1>Contact</h1>
         
            <p>Should you have any questions, complaints, or comments about this Privacy Policy, this service, or website, or require further clarification of any kind, please do not hesitate to contact us at <a href="mailto:support@NetAPIs.com?subject=[mailboxlayer] Subject:" class="blue_link">support@NetAPIs.com</a>
            
            </p>


</div>