/* screen sizes */
@xs-min: 480px;
@sm-min: 768px;
@md-min: 992px;
@lg-min: 1200px;

@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);

@phone:          ~"only screen and (min-width: @{xs-min})";
@phone-strict:   ~"only screen and (min-width: @{xs-min}) and (max-width: @{xs-max})";
@tablet:         ~"only screen and (min-width: @{sm-min})";
@tablet-strict:  ~"only screen and (min-width: @{sm-min}) and (max-width: @{sm-max})";
@desktop:        ~"only screen and (min-width: @{md-min})";
@desktop-strict: ~"only screen and (min-width: @{md-min}) and (max-width: @{md-max})";
@large:          ~"only screen and (min-width: @{lg-min})";


/* colors */
@color-text-base: #50505a;
@color-white: #fff;
@color-dark: #32323c;
@color-light: #e6ecec;
@color-red: #e20613;
@color-orange: #e84e1b;
@color-yellow: #f29100;
@color-brown: #b17f49;
@color-green: #80bb2b;
@color-blue: #29abe2;
@color-blueish: #b9c8c8;

* {
	color: @color-text-base;
  	font-family: 'Source Sans Pro', sans-serif;
}


/* text colors */
.text-base, .text-base i {		color: @color-text-base; }
.text-white, .text-white i {	color: @color-white; }
.text-dark {		color: @color-dark; }
.text-light {		color: @color-light; }
.text-red {			color: @color-red; }
.text-orange {		color: @color-orange; }
.text-yellow {		color: @color-yellow; }
.text-brown {		color: @color-brown; }
.text-green {		color: @color-green; }
.text-blue {		color: @color-blue; }
.text-blueish {		color: @color-blueish; }

/* text links */
a.text-dark:link {		color: @color-dark; }
a.text-light:link {		color: @color-light; }
a.text-red:link {		color: @color-red; }
a.text-orange:link {	color: @color-orange; }
a.text-yellow:link {	color: @color-yellow; }
a.text-brown:link {		color: @color-brown; }
a.text-green:link {		color: @color-green; }
a.text-blue:link {		color: @color-blue; }
a.text-blueish:link {	color: @color-blueish; }

/* text visited */
a.text-dark:visited {		color: @color-dark; }
a.text-light:visited {		color: @color-light; }
a.text-red:visited {		color: @color-red; }
a.text-orange:visited {		color: @color-orange; }
a.text-yellow:visited {		color: @color-yellow; }
a.text-brown:visited {		color: @color-brown; }
a.text-green:visited {		color: @color-green; }
a.text-blue:visited {		color: @color-blue; }
a.text-blueish:visited {	color: @color-blueish; }

/* text hovers */
a.text-dark:hover {		color: lighten(@color-dark,10%); }
a.text-light:hover {	color: lighten(@color-light,10%); }
a.text-red:hover {		color: lighten(@color-red,10%); }
a.text-orange:hover {	color: lighten(@color-orange,10%); }
a.text-yellow:hover {	color: lighten(@color-yellow,10%); }
a.text-brown:hover {	color: lighten(@color-brown,10%); }
a.text-green:hover {	color: lighten(@color-green,10%); }
a.text-blue:hover {		color: lighten(@color-blue,10%); }
a.text-blueish:hover {	color: lighten(@color-blueish,10%); }

/* text active */
a.text-dark:active {	color: lighten(@color-dark,10%); }
a.text-light:active {	color: lighten(@color-light,10%); }
a.text-red:active {		color: lighten(@color-red,10%); }
a.text-orange:active {	color: lighten(@color-orange,10%); }
a.text-yellow:active {	color: lighten(@color-yellow,10%); }
a.text-brown:active {	color: lighten(@color-brown,10%); }
a.text-green:active {	color: lighten(@color-green,10%); }
a.text-blue:active {	color: lighten(@color-blue,10%); }
a.text-blueish:active {	color: lighten(@color-blueish,10%); }

/* bg colors */
.bg-white {		background-color: @color-white; }
.bg-dark {		background-color: @color-dark; }
.bg-light {		background-color: @color-light; }
.bg-red {		background-color: @color-red; }
.bg-orange {	background-color: @color-orange; }
.bg-yellow {	background-color: @color-yellow; }
.bg-brown {		background-color: @color-brown; }
.bg-green {		background-color: @color-green; }
.bg-blue {		background-color: @color-blue; }
.bg-blueish {	background-color: @color-blueish; }

/* badge colors */
.badge-dark {	.bg-dark(); }
.badge-red {	.bg-red(); }
.badge-green {	.bg-green(); }
.badge-blue {	.bg-blue(); }
.badge-orange {	.bg-orange(); }
.badge-yellow {	.bg-yellow(); }


/* fa boxed */
.fa.box {
	width: 48px;
	height: 48px;
	padding-top: 10px;

	color:#fff;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
h2.subtitle {
	font-size: 36px;
	font-weight: 900;

	a {
		//color: inherit;
		&:hover {
			//color: inherit;
		}
	}
}

/* link colors based on background */
.bg-dark {
	a, a:link, a:visited {
		.text-white();
	}
	a:active, a:hover {
		.text-light();
		text-decoration: none;
	}
	i {
		.text-white();
	}
}
.bg-light {
	a, a:link, a:visited {
		.text-base();
	}
	a:active, a:hover {
		.text-red();
		text-decoration: none;
	}
	i {
		.text-base();
	}
}


.text700 {
	font-weight: 700;
}
a.text700 {
	padding-left: 0;
	font-weight: 700;
	.text-dark();
}
a.text700:hover {
	text-decoration: underline;
	color: #29abe2 !important;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.block(@width:auto,@height:auto) {
	display: block;
	width: @width;
	height: @height;
}




/* CUSTOM COLUMNS */
.col-md-1of2 {
	float: left;
	width: 50%;
}
.col-md-1of3 {
	float: left;
	width: 33.33333333%;
}
.col-md-2of3 {
	float: left;
	width: 66.66666666%;
}
.col-md-1of4 {
	float: left;
	width: 25%;
}
.col-md-2of4 {
	float: left;
	width: 50%;
}
.col-md-3of4 {
	float: left;
	width: 75%;
}





/* HEADER */
header {

	height: 70px;
	background-color: #87B09A;
/*
	#logo {
		margin-top: 5px;
		max-width: 60px;
		max-height: 60px;
	}

	#menu {
		display: inline-block;
		margin-top: 40px;

		ul {
			list-style: none;
			li {
				display: inline-block;
				float: left;

				a {
					color: #fff;
					font-size: 14px;
					padding: 5px 10px;
					margin-right: 8px;
					&:hover {
						color: #fff;
						background-color: #444;
						text-decoration: none;
					}
					span {
						color: inherit;
					}
					i {
						color: inherit;
					}
				}
			}
		}


	}
*/

	
	#header-top {

		.bg-light();
		height:70px;

		#logo-main {
			margin-top: 18px;
			img {
				max-width:100%;
				max-height: 36px;
			}
		}

	}


	#header-bar {

		position:relative;

		.bg-dark();
		height:44px;
		line-height: 44px;

		#menu-categories {
			height:44px;
			cursor:pointer;
			
			i.product-categories-icon {
				.block(50px,44px);
				float:left;
				line-height: 44px;
				font-size:1.5em;
				text-align: center;
				.text-white();
				.bg-red();
			}

			a.product-categories-text {
				display: table-cell;
				vertical-align: middle;
				float:left;
				height:44px;
				margin-left: 8px;
				
			}

			&.open i.product-categories-icon {
				.text-dark();
				.bg-light();
			}

		}

		#product-categories {
			.text-dark();
			.bg-light();

			line-height: normal;
			vertical-align: bottom;

			display: none;
			width: 232px;
			height: 0;
			float: left;

			position: absolute;
			top: 44px;
			left: 0;

			z-index: 5000;

			transition-property: height;
			transition-duration: 0.25s;
			transition-timing-function: ease-out;

			ul {
				list-style: none;
				margin:0;
				padding:0;

				li {
					display:block;
					float:left;
					margin:0;
					padding:0;

					a {
						.text-dark();
						font-size: 16px;
						font-weight: normal;
						
						display: block;
						width: 232px;
						height: auto;

						padding:0;
						padding-left: 20px;
						padding-top: 3px;
						padding-bottom: 3px;

						&:hover {
							color:#000;
							.bg-white();
						}
					}
				}
			}

			.board {
				.bg-white();
				.block(560px,auto);

				position: absolute;
				top: 0;
				left: 232px;
				a {
					font-size: 14px;
				}
			}

			&.open {
				display: block;
				height: auto;
			}
		}

		#menu-shop {
			height:44px;
			vertical-align: middle;
			
			ul {
				display: block;
				height:44px;
				margin: 0 auto;
				list-style: none;
				overflow: hidden;
				li {
					float:left;

					a {
						display:table-cell;
						vertical-align: middle;
						padding-left: 7px;
						padding-right: 7px;
/*
						transition-property: background-color;
						transition-duration: 0.4s;
						transition-timing-function: ease-out;
*/
						i {
							font-size:1.5em;
							display: block;
							float: left;
							margin-top: 11px;
							margin-right: 5px;
						}
						span {
							.text-white();
						}
						&:hover {
							.text-dark();
							.bg-white();
							i {
								.text-dark();
							}
							span {
								.text-dark();
							}
						}
					}
					
					
				}
			}
			
		}

		#menu-user {
			height:44px;
			vertical-align: middle;
			float: right;

			ul {
				display: block;
				height:44px;
				margin: 0 auto;
				list-style: none;
				overflow: hidden;
				li {
					display: block;
					float: left;

					a {
						display: block;
						vertical-align: middle;
						padding-left: 7px;
						padding-right: 7px;
						i {
							font-size:1.5em;
							display: block;
							float: left;
							margin-top: 11px;
							margin-right: 5px;
						}
						div {
							.text-white();
						}
						&:hover, &.active {
							.text-dark();
							.bg-white();
							i {
								.text-dark();
							}
							span {
								.text-dark();
							}
						}
					}
					
					
				}
			}
		}

		#menu-help {
			.bg-white();
			line-height: normal;
			text-align: left;
			
			display: none;
			overflow: hidden;
			height: 0px;

			width: 560px;
			padding: 0 12px;

			position: absolute;
			top: 44px;
			/*left:-355px;*/
			right: 46px;

			z-index: 5000;

			transition-property: height;
			transition-duration: 0.2s;
			transition-timing-function: ease-out;

			div {
				display: block;
				float:left;
			}
			h2 {
				padding-left: 7px;
			}
			a {
				font-size: 14px;
				display: inline;
				.text-dark();
			}
			p {
				padding-left: 7px;
				padding-bottom: 9px;
				font-size: 12px;
			}

		}

		li.toggle-help:hover {
			a {
				.text-dark();
				.bg-white();
				i {		.text-dark(); }
				span {	.text-dark(); }
			}
			#menu-help {
				display: block;
				height: 280px;
			}
		}
	}
}

#header-light {
	.bg-dark;
}

#search-bar {

}

/* CART */
#cart-widget {

}

/* HOME SLIDER */
#home-slider {
	img {
		width: 100%;
		max-width: 1200px;
		max-height: 300px;
	}
}
/* MAIN */
#main {

}

/* SIDEBAR */
#sidebar {
	
}

/* BANNERS */
#banners {
	.col-md-6 {
		img {
			width: 100%;
			max-width: 480px;
			max-height: 240px;
		}
	}
	.col-md-3 {
		img {
			width: 100%;
			max-width: 240px;
			max-height: 240px;
		}
	}
}

/* FOOTER */
#footer {
	.bg-dark;
}

/* PRODUCT PARTIALS */
.prod {
	
	&.prod-box {
		display: block;
		position: relative;
		float: left;

		// phone, 1 col
		width: 94%;
		margin: 3%;
		max-width: 220px;
		height: 240px;
		
		@media @tablet { // 3 col
			margin: 2%;
			width: 31%;
		}

		@media @desktop { // 4 col
			margin: 2%;
			width: 21%;
		}



		padding: 0;

		a:hover {
			text-decoration: none;
		}

		.prod-img-box {
			display: block;
			width: 100%;
			height: 100%;
			max-width: 144px;
			max-height: 144px;
		}
		.prod-img {
			display: block;
			//width: 100%;
			max-width: 144px;
			max-height: 144px;
		}
		.prod-brand {
			display: block;
			position: absolute;
			top: 20px;
			right: -9px;

			width: 23%;
			height: 22%;
			max-width: 56px;
			max-height: 56px;

			img {
				display: block;
				width: 100%;
			}
		}
		.prod-free-shipping {
			display: block;
			position: absolute;
			top: 70px;
			right: -11px;
			width: 25%;
			max-width: 56px;
			color: #000;
			font-size: 10px;
			text-align: center;
		}
		.prod-title {
			display: block;
			width: 100%;
			position: absolute;
			top: 62%;
			.text-dark();
			max-height: 60px;
			overflow: hidden;
		}
		.prod-price {
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			max-height: 32px;
			overflow: hidden;

			.price-regular {
				font-size: 1.6em;
				font-weight: bold;
				.text-dark();
			}
			.price-action {
				font-size: 1.6em;
				font-weight: bold;
				.text-red();
				span {
					.text-red();
				}
			}
			.price-striped {
				font-size: 0.9em;
				font-weight: bold;
				text-decoration: line-through;
				.text-base();
			}
		}
	}

	&.prod-row {
		//
	}

	

}



/* BREADCRUMBS */
.breadcrumbs {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.85em;
	a {
		.text-base();
		&:hover {
			text-decoration: underline;
			.text-dark();
		}
	}
}




/* BADGES */
.product-badge {
	display: inline-block;
	height: auto;
	z-index: 55;

	position: absolute;
	top: 128px;

	border-radius: 0 !important;
	box-shadow: none;
	
	padding: 3px 5px;
	
	.text-white();
	font-size: 0.84em;
	font-weight: normal;
}

.product-page-badge {
	width: 40%;
	display: inline-block;
	height: auto;

	border-radius: 0 !important;
	box-shadow: none;
	
	padding: 2px 5px;
	
	.text-white();
	text-align: center;
	font-size: 0.76em;
	font-weight: bold;
}


/* PRODUCT */
.product {
	&.product-page {

		font-size: 1.2em;	
		
		h1 {
			.text-dark();
			font-size: 2em;
			font-weight: bold;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.base-specs {
			margin-top: 15px;
			margin-bottom: 15px;
			ul {
				padding:0;
				li {
					list-style: none;
				}
			}
		}

		.price-tag {
			position: relative;

			.block(auto,100px);
			padding: 0;

			img {
				display: block;
				width: 100%;
				max-width: 310px;
				max-height: 100px;
			}
			.secondary {
				display: block;
				position: absolute;
				top: 15%;
				left: 7%;
				z-index: 5;

				font-size: 16px;
				font-weight: normal;
			}
			.primary {
				display: block;
				position: absolute;
				top: 30%;
				left: 7%;
				z-index: 5;

				font-size: 2.5em;
				font-weight: bold;
			}
			.price-action {
				.text-red();
				span {
					.text-red();
				}
			}
			.price-striped {
				text-decoration: line-through;
				.text-base();
			}
		}

		.extra-info {
			padding-top: 10px;
			text-align: center;
		}

		.add-to-cart {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.store-availability {
			margin-top: 10px;
			span {
				font-weight: bold;
			}
			a:hover, a:link, a:visited, a:active {
				.text-green();
			}
		}


	}
}

.btn {
	&.btn-add-to-cart {
		.bg-green();
		.text-white();
		display: inline-block;
		width:100%;
		padding: 10px;
		border-radius: 0 !important;
		font-size: 24px;
		font-weight: bold;
		i {
			.text-white();
			font-size: 1.3em;
			font-weight: bold;
		}

		&:hover {
			background-color: lighten(@color-green,10%);
		}
	}
}

.prod-main-img {
	display: block;
	width: 100%;
	height: 100%;
	max-width: 600px;
	max-height: 600px;
	position: relative;
	
	.prod-img {
		display: block;
		position: relative;
		width: 100%;
		max-width: 600px;
		max-height: 600px;
	}
}

/* PAGES */
.page {
	&.view {

	} 
}


/* MISC */
img.ri
{
	position: relative;
	max-width: 100%;
	top: 0;
	left: 0;
}

img.ri:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


h1 {
	.text-dark();
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}