body {
	background: url(images/travel_wallpaper_by_juba_paldf.jpg) top center fixed;
	background-size: cover;
}

/* Phone portrait and smaller */
@media (max-width: 520px) {
  html {
    font-size: 12px;
  }
  h1, .uk-h1{
    font-size: 28px;
  }
  h2, .uk-h2{
    font-size: 21px;
  }
  h3, .uk-h3, .uk-panel-title{
    font-size: 16px;
  }
  .mobile-full {
    width: 100%;
  }
}


.uk-panel-box {
  border:solid 2px #ddd;
}


/*
n3-charts
*/

.series-renderer {
  margin-bottom: 10px;
}

.series-renderer .summary {
}

.series-renderer .summary .color-preview {
  background-color: rgb(188, 189, 34);
  padding: 0 7px;
  border-radius: 8px;
  cursor: pointer;
}

.series-renderer .summary .pre-title {
  background-color: white;
  padding: 0px 0px 10px 1px;
}

.series-renderer .summary .title {
  background-color: white;
  padding: 0px 12px 0px 8px;
  cursor: pointer;
}

.series-renderer .summary .remove {
  display: none;
  float: right;
  color: grey;
  cursor: pointer;
  background-color: white;
  padding-left: 5px;
  padding-bottom: 1px;
}

.series-renderer:hover .remove {
  display: block;
}

.series-renderer .summary:hover .remove:hover {
  color: rgb(207, 32, 32);
}

.series-renderer .detail {
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  padding: 8px 0px 5px 0px;
  margin-top: -7px;
}

.series-renderer .detail * {
  font-size: 10px;
}




.axis-renderer {
  margin-bottom: 10px;
}

.axis-renderer .summary {
  cursor: pointer;
}

.axis-renderer .summary .title {
  background-color: white;
  padding: 0px 12px 0px 8px;
}

.axis-renderer .detail {
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  padding: 8px 0px 5px 0px;
  margin-top: -7px;
}

.axis-renderer .detail * {
  font-size: 10px;
}




.stack-renderer {
  margin-bottom: 10px;
}

.stack-renderer .summary {
  cursor: pointer;
}

.stack-renderer .summary .title {
  background-color: white;
  padding: 0px 12px 0px 8px;
}

.stack-renderer .detail {
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  padding: 8px 0px 5px 0px;
  margin-top: -7px;
}

.stack-renderer .detail * {
  font-size: 10px;
}

.stack-renderer .summary .remove {
  display: none;
  float: right;
  color: grey;
  cursor: pointer;
  background-color: white;
  padding-left: 5px;
  padding-bottom: 1px;
}

.stack-renderer:hover .remove {
  display: block;
}

.stack-renderer .summary:hover .remove:hover {
  color: rgb(207, 32, 32);
}


